@layer reset, base, utilities;

/* https://piccalil.li/blog/a-more-modern-css-reset/ */
@layer reset {
	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Prevent font size inflation */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	/* Remove margin & padding */
	h1,
	body,
	p,
	ul,
	li {
		margin: 0;
		padding: 0;
	}

	/* Set core body defaults */
	body {
		min-height: 100vh;
		line-height: 1.5;
	}

	/* Set shorter line heights on headings and interactive elements */
	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.1;
	}

	/* Balance text wrapping on headings */
	h1,
	h2,
	h3,
	h4 {
		text-wrap: balance;
	}

	/* A elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	/* Make images easier to work with */
	img,
	picture {
		max-width: 100%;
		display: block;
	}
}

@layer base {
	:root {
		--colour-sky-200: oklch(90.1% 0.058 230.902);
		--colour-blue-200: oklch(88.2% 0.059 254.128);
		--color-indigo-200: oklch(87% 0.065 274.039);
		--color-violet-200: oklch(89.4% 0.057 293.283);
		--color-slate-900: oklch(20.8% 0.042 265.755);

		--bg-colour: var(--color-indigo-200);
		--fg-colour: var(--color-slate-900);
		--selection-colour: var(--color-indigo-200);

		--card-bg-colour: rgba(255, 255, 255, 0.7);
		--card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
		--card-outline: 1px solid oklch(27.9% 0.041 260.031 / 0.1);

		--easing: cubic-bezier(0.4, 0, 0.2, 1);
		--spring-easing: linear(
			0,
			0.0013 0.5%,
			0.007 1.17%,
			0.0266 2.34%,
			0.0615 3.68%,
			0.1133 5.18%,
			0.2271 7.85%,
			0.4914 13.37%,
			0.6049 15.88%,
			0.7134 18.55%,
			0.8008,
			0.8734,
			0.9315 26.07%,
			0.9787 28.75%,
			0.9971 30.08%,
			1.0141 31.59%,
			1.0324 33.76%,
			1.0451 36.1%,
			1.0523 38.61%,
			1.0542 41.45%,
			1.0524 43.79%,
			1.0477 46.46%,
			1.0135 60.67%,
			1.0021 68.69%,
			0.9987 73.7%,
			0.9972 79.55%,
			0.9991 99.94%
		);
		--spring-duration: 1.094s;
	}

	::selection {
		background-color: var(--selection-colour);
	}

	html {
		background-color: var(--bg-colour);
	}

	body {
		background-image: repeating-linear-gradient(
			-45deg,
			var(--colour-sky-200),
			var(--colour-blue-200),
			var(--color-indigo-200),
			var(--color-violet-200),
			var(--color-indigo-200),
			var(--colour-blue-200),
			var(--colour-sky-200)
		);
		background-size: 300%;
		animation: bg 10s linear infinite alternate;

		display: flex;
		justify-content: center;
		align-items: center;

		font-family: Bitter, Georgia, 'Times New Roman', Times, serif;
		color: var(--fg-colour);
	}

	@keyframes bg {
		from {
			background-position: 0 0;
		}
		to {
			background-position: 100% 0;
		}
	}

	main {
		background-color: var(--card-bg-colour);
		border-radius: 0.5rem;
		box-shadow: var(--card-shadow);
		outline: var(--card-outline);

		padding: 2rem;
		margin: 1rem;
		max-width: 25rem;
		width: 100%;

		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;

		animation: card var(--spring-duration) var(--spring-easing) 0.5s backwards;
	}

	@keyframes card {
		0% {
			transform: skew(45deg, 333deg) scale(0.5);
			opacity: 0;
		}
		100% {
			transform: skew(0deg, 360deg);
			opacity: 1;
		}
	}

	h1 {
		font-size: 2rem;
		font-weight: normal;
		text-align: center;
	}

	p {
		font-size: 1.1rem;
		line-height: 1.5;
		text-align: center;
	}

	main > img {
		border-radius: 9999px;
		max-width: 8rem;
	}

	ul {
		list-style: none;
		margin-top: 0.5rem;

		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: center;
	}

	li {
		display: flex;

		& a {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.25rem;

			font-size: 0.8rem;
			text-decoration: none;

			transition: all 0.3s var(--easing);

			& svg {
				width: 1.5rem;
				height: 1.5rem;
			}

			&:hover {
				transform: translateY(-0.15rem);
				text-decoration: underline;
				text-underline-offset: 0.25rem;
			}
		}
	}
}

@layer utilities {
	.fade-in {
		animation: fade-in 0.3s var(--easing) var(--delay, 0s) backwards;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
			transform: translateY(-0.5rem) scale(0.93);
		}
		to {
			opacity: 1;
		}
	}
}
